<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home page'%}">Find Your Pet</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">{{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout page' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login page' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register page' %}">Register</a>
            </li>
        {% endif %}
      <li class="nav-item">
          <a class="nav-link" href="{% url 'pets filter' 'Dog'%}">Dogs</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'pets filter' 'Cat'%}">Cats</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'pets filter' 'Bird'%}">Birds</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'pets filter' 'Other'%}">Other</a>
      </li>
    </ul>
  </div>
</nav>
